<style>
        /* Styling the Body element 
        i.e. Color, Font, Alignment */
        body {
            background-color: #05c46b;
            font-family: Verdana;
            text-align: center;
        }
        .form-container input{
          flex: 1;
        }
 
        /* Styling the Form (Color, Padding, Shadow) */
        form {
            background-color: #fff;
            max-width: 600px;
            margin: 50px auto;
            padding: 30px 20px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
        }

        .radio-group {
          display: inline-block;
        }
        .radio-group label {
          margin-right: 20px; /* Adjust the spacing between radio buttons */
        }

        table {

          width: 100%;
        }
        th, td {
         
          padding: 8px;
          text-align: left;
        }
      
        .highlighted-row {
          background-color: #ddd; /* Change the color to whatever you desire */
        }
        .column {
            float: left;
            width: 50%;
          }
          
          /* Clear floats after the columns */
          .row:after {
            content: "";
            display: table;
            clear: both;
          }
 
        
 
      
        /* Styling form-control input, 
        select, textarea */
        .form-control input,
        .form-control select,
        .form-control textarea {
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
        }
        .checked {
            color: orange;
          } 
        /* Styling form-control Radio 
        button and Checkbox */
        .form-control input[type="radio"],
        .form-control input[type="checkbox"] {
            display: inline-block;
            width: auto;
        }
 
        /* Styling Button */

        .btn {
            border: none; /* Remove borders */
            color: white; /* Add a text color */
            padding: 14px 28px; /* Add some padding */
            cursor: pointer; /* Add a pointer cursor on mouse-over */
            background-color: #e7e7e7; color: black;
          }
        .default:hover {background: #ddd;}
     
